<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UIExeLocation" value="B:\Projects\soap-flow\ui\bin\Debug\ui.exe"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUserService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63228/UserService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IUserService" contract="SpecFlowSOAP.IUserService"
                name="BasicHttpBinding_IUserService" />
    </client>
  </system.serviceModel>
</configuration>